{% extends'layout.html.twig' %}

{% block main %}
    <div class="login">
        <form method="post">
            <div class="login-identifiant">
                <label for="username">Identifiant : </label>
                <input type="text" name="_username" id="username">
            </div>
            <div class="login-pwd">
                <label for="password">mot de passe :</label>
                <input type="password" name="_password" id="password">
            </div>
            <div class="ck-box-login">
                <input type="checkbox" id="remember_me" name="_remember_me" checked/>
                <label for="remember_me">Se souvenir de moi</label>
            </div>
            <div class="button">
                <button class="btn-login btn border active" type="submit">Connexion</button>
            </div>
        </form>
        <a class="forgot" href="{{ path('app_forgotten_password') }}">Mot de passe oublié</a>
    </div>
{% endblock %}

{% block title %}

{% endblock %}