{% extends 'layout.html.twig' %}

{% block main %}
    <div class="grid">
        <h1 class="titrePage">Votre profil</h1>
        <div class="afficherProfil">
            {{ form_start(registerForm) }}
            {{ form_widget(registerForm) }}
            <button type="submit">Envoyer</button>
            {{ form_end(registerForm) }}
        </div>
    </div>
{% endblock %}

{% block title %}modifier Profil{% endblock %}