{% extends 'layout.html.twig' %}

{% block main %}
    <div class="grid">
        <h1 class="titrePage">Votre profil</h1>
        <div class="afficherProfil">
            {{ form_start(registerForm) }}
            {{ form_widget(registerForm) }}

            <div class="button">
                <button class="btn btn-secondary active" type="submit">Enregistrer</button>
                <button class="btn btn-secondary active" type="submit"><a href="{{ path('home') }}">Annuler</a></button>
            </div>

            {{ form_end(registerForm) }}
        </div>
    </div>
{% endblock %}

{% block title %}modifier Profil{% endblock %}