{% extends 'layout.html.twig' %}

{% block main %}
<div class="grid">
    <div class="afficherProfil">
        {{ form_start(registerForm) }}
        {{ form_widget(registerForm) }}
        <div class="button">
            <button class="btn btn-secondary active" type="submit">Inscription</button>
        </div>
        {{ form_end(registerForm) }}
    </div>
</div>
{% endblock %}

{% block title %}Registration{% endblock %}